
-- BigQuery sorgusu: Aylık trend analizi için ek tablo
-- Her tema için aylık trend slope, varyans, ortalama hesapla

WITH monthly_data AS (
  SELECT
    ym,
    country,
    theme_code,
    n_docs,
    DATE(ym || '-01') AS date
  FROM \gdelt_monthly_docs_per_theme_country_2022_2024\
),
stats AS (
  SELECT
    country,
    theme_code,
    COUNT(*) AS months_count,
    AVG(n_docs) AS avg_docs,
    STDDEV(n_docs) AS std_docs,
    -- Linear trend slope (basit yaklaşım)
    (COUNT(*) * SUM(EXTRACT(MONTH FROM date) * n_docs) - SUM(EXTRACT(MONTH FROM date)) * SUM(n_docs)) /
    (COUNT(*) * SUM(POWER(EXTRACT(MONTH FROM date), 2)) - POWER(SUM(EXTRACT(MONTH FROM date)), 2)) AS trend_slope
  FROM monthly_data
  GROUP BY country, theme_code
)
SELECT
  country,
  theme_code,
  months_count,
  ROUND(avg_docs, 2) AS avg_docs,
  ROUND(std_docs, 2) AS std_docs,
  ROUND(trend_slope, 4) AS trend_slope,
  CASE
    WHEN trend_slope > 10 THEN 'Artan'
    WHEN trend_slope < -10 THEN 'Azalan'
    ELSE 'Stabil'
  END AS trend_category
FROM stats
ORDER BY country, trend_slope DESC;

